a {
    color: #363636;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(20% - 10px), 1fr));
    gap: 5px;
}

.book-img {
    width: auto;
    max-height: 350px;
}