{% extends 'main.html' %}

{% block title %}
  Book Shop
{% endblock %}

{% block css_file %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/book.css' %}">
{% endblock %}

{% block main %}
    <div class="book">
        <div class="book-img" style="background-image: url({% static 'images/'|add:book.img %}"></div>
        <h2>{{ book.title }}</h2>
        <p>Автор: {{ book.author }}</p>
        <p>Жанр: {{ book.genre }}</p>
        <p>{{ book.description }}</p>
        <br>
        <button>Buy {{ book.price }} ₴</button>
        <br>
        <br>
        <div class="form-add-comment">
            <h4>Add comment:</h4>
            <br>
            {% include 'comments/form-comment.html' %}
        </div>
        <br>
        <h4>Comments: {{ comments_count }}</h4>
        <br>
        {% for comment in comments %}
            {% include 'comments/comment.html' %}
        {% endfor %}
    </div>
{% endblock %}