* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    height: 50px;
    background-color: #3232de;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: #fff;
}

main {
    padding: 20px;
}